#visgraph {
  height: 64vh;
}

html[data-netbox-color-mode=dark] #visgraph {
  background-color: #212529;
}


.image-dropdown img {
  width: 64px;
  height: 64px;
}

.image-dropdown-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  padding-inline: 0.5rem;
  width: 50vw;
  max-width: 32rem;

  > img {
    cursor: pointer;
  }
}
