#visgraph {
 height:64vh;
 border: 1px solid #ced4da
}
html[data-netbox-color-mode=dark] 
#visgraph {
 background-color:#212529;
 border: 1px solid #495057
}
.image-dropdown img {
 width:64px;height:64px
}
.image-dropdown-content {
 display:flex;
 flex-wrap:wrap;
 gap:.5rem;
 padding-inline:.5rem;
 width:50vw;
 max-width:32rem
}
.image-dropdown-content>img {
 cursor:pointer
}
