{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block title %}Topology Views Coordinate Group{% endblock title %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        Coordinate Group
      </h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% plugin_left_page object %}
  </div>
	<div class="col col-md-6">
    {% include 'inc/panels/custom_fields.html' %}
    {% plugin_right_page object %}
	</div>
</div>
<div class="row mb-3">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Circuit Coordinates</h5>
      <div class="card-body table-responsive">
        {% render_table circuitcoordinates_table %}
      </div>
    </div>
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Power Panel Coordinates</h5>
      <div class="card-body table-responsive">
        {% render_table powerpanelcoordinates_table %}
      </div>
    </div>
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Power Feed Coordinates</h5>
      <div class="card-body table-responsive">
        {% render_table powerfeedcoordinates_table %}
      </div>
    </div>
  </div>
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Device Coordinates</h5>
      <div class="card-body table-responsive">
        {% render_table coordinates_table %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
