<div id="django-messages" class="toast-container">
    <div
        id="topology-plugin-error-toast"
        class="toast align-items-center border-0 bg-danger hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-delay="2000"
    >
        <div class="d-flex">
            <div class="toast-body">
                😢
                <span>Error</span>
            </div>
            <button
                type="button"
                class="btn-close me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
            ></button>
        </div>
    </div>
    <div
        id="topology-plugin-success-toast"
        class="toast align-items-center border-0 bg-success hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-delay="2000"
    >
        <div class="d-flex">
            <div class="toast-body">
                👍
                <span>Success</span>
            </div>
            <button
                type="button"
                class="btn-close me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
            ></button>
        </div>
    </div>
</div>